@font-face { font-family: Mario; src: url('SuperMarioBros-ov7d.ttf'); } 

body {
    font-family: Mario;
    background: url('pixel-art-game-background-grass-sky-clouds_210544-60.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-size: 16px;
    color: rgb(30, 255, 0);
}

#titleContainer {
    position: fixed;
    margin: 0 auto;
    width: 50%;
    left: 25%;
    background-color: rgba(0, 0, 0,.6);
    padding: 30px;
    border-radius: 30%;
}

#welcome {
    font-size: 2em;
    margin: 15px;
    text-align: center;

}

#firstToFiveMessage {
    text-align: center;
    font-size: 2em; 
}

#buttonContainer {
    background-color:black;
    padding: 5vw;
    border-radius: 10%;
    position: fixed;
    left: 22%;
    top: 45%; 
    height: 5vw;
    width: 10vw;
}

#playerTitle {
    font-size: 2vw;
    position: relative;
    bottom: 170%;
    left: 30%;
}

#computerContainer {
    background-color: black;
    padding: 50px;
    border-radius: 10%;
    position: fixed;
    left: 55%;
    top: 60%;
}

#computerTitle {
    position: relative;
    bottom: 110px;
    left: 6px;
}


.rock{
    position: relative;
    bottom: 30px;
    right: 70px;
    border-radius: 100px;
}

#rockButton {
    border-radius: 10px;
}

#rockimage {
    height: 75px;
    width: 75px;
    
}

#playerRockTitle {
    position: relative;

}
.paper {

}

.scissors {

}

.playagain {
    position: fixed;
    left: 45%;
    top: 77%;
}

#runningScoreText {
    position: fixed;
    top: 40%;
    left: 50%;
}

#headingText {
    position: fixed;
    top: 50%;
    lefT: 50%;
}