@font-face { font-family: Mario; src: url('SuperMarioBros-ov7d.ttf'); } 

body {
    font-family: Mario;
    background: url('pixel-art-game-background-grass-sky-clouds_210544-60.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
*/
#welcome {
    position: fixed;
    top: 38%;
    left: 25%;
    text-align: center;
}

#firstToFiveMessage {
    position: fixed;
    top: 45%;
    left: 40%;
}

#buttonContainer {
    background-color: rgb(69, 219, 106);
    padding: 50px;
    border-radius: 10%;
    position: fixed;
    left: 25%;
    top: 60%;
}

#playerTitle {
    position: relative;
    bottom: 110px;
    left: 100px;
}

.rock {

}

.paper {

}

.scissors {

}

.playagain {

}