@font-face { font-family: Mario; src: url('SuperMarioBros-ov7d.ttf'); } 

body {
    font-family: Mario;
    background: url('pixel-art-game-background-grass-sky-clouds_210544-60.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-size: 16px;
    color: rgb(30, 255, 0);
}

#titleContainer {
    position: fixed;
    width: 50%;
    left: 25%;
    background-color: rgba(0, 0, 0,.6);
    padding: 30px;
    border-radius: 30%;
}

#welcome {
    font-size: 2em;
    margin: 15px;
    text-align: center;

}

#firstToFiveMessage {
    text-align: center;
    font-size: 2em; 
}

#chooseTitle {
    font-size: 1vw;
    position: relative;
    bottom: 170%;
    left: 30%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .buttonContainer {
      flex-direction: column;
    }
}

.rock{

}

#rockButton {
    border-radius: 10px;
}

#rockimage {
    height: 200px;
    width: 200px;
    
}

.paper{

}

#paperButton {
    border-radius: 10px;
}

#paperimage {
    height: 200px;
    width: 200px;
    
}

.scissors{

}

#scissorsButton {
    border-radius: 10px;
}

#scissorsimage {
    height: 200px;
    width: 200px;
    
}

.playagain {
    position: fixed;
    left: 45%;
    top: 77%;
}

#runningScoreText {
    position: fixed;
    top: 40%;
    left: 50%;
}

#headingText {
    position: fixed;
    top: 50%;
    lefT: 50%;
}

